html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 95%;
}

#top-toolbar{
  background-color: #F6F5F5;
  height: 5%;
  width: 100%;
  position: relative;
  border: 1px solid #000; 
  box-sizing: border-box; 
}

#logo img{
  width: 5%;
  height: 5%;
  box-sizing: border-box; 
  position: absolute;
  z-index: 1000;
  object-fit: contain;
}

#button-menu{
  position: absolute;
  right: 10px; 
  top: 55%; 
  transform: translateY(-50%); 
}
#button-menu img{
  width: 5vh;
  height: 5vh;
}

#drawButton{
  position: absolute;
  right: 100px; 
  top: 50%; 
  transform: translateY(-50%);
}

#distanceButton{
  position: absolute;
  right: 230px; 
  top: 50%; 
  transform: translateY(-50%);
}

#sideBar {
  display: none;
  background-color: #F6F5F5;
  width: clamp(250px, 25%, 400px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  border: 1px solid #000; 
  box-sizing: border-box; 
  max-height: 100vh; /* or use a specific height like 600px */
  overflow-y: auto;
}

#sideBar img{
  position: absolute;
  width: 5vh;
  height: 5vh;
  right: 0;
}


#drawBar {
  position: fixed;
  right: 90px;
  top: 45px;
  width: 200px;
  height: 50px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 15px;
  box-sizing: border-box;
  z-index: 9999;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  
}

#drawBar div {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  position: relative;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#black {
  background-color: black;
}

#yellow {
  background-color: yellow;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}

.emoji-icon {
  font-size: 30px; /* Nustato emoji dydį */
  text-align: center; /* Centruoja emoji */
  line-height: 35px; /* Centruoja vertikaliai */
  display: flex; 
  justify-content: center;
}

.leaflet-popup-content {
  text-align: center;
}

#educationLocation{
  display:none;
}

#culturalLocation{
  display:none;
}

#medicineLocation{
  display:none;
}

#additionalLocation{
  display:none;
}

[data-marker-location].active {
  background-color: #4CAF50; /* Green color when active */
  color: white;
}

button[data-language].active {
  /* Active state styles */
  background-color: #4CAF50;  /* Green color */
  color: white;
  border-color: #4CAF50;
}

